html {
  font-size: 14px;
}
html,
body {
  height: 100%;
}

video {
  width: 700px;
  height: 500px;
}

.hide {
  display: none;
}

.notification,
.chat {
  height: 100px;
  width: 200px;
  overflow-y: auto;
  position: fixed;
  right: 10px;
  top: 10px;
  border-radius: 10px;
  border: 1px solid #333;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
}
.chat {
  height: 160px;
  bottom: 10px;
  top: auto;
}
.chat-view {
  padding: 10px;
  overflow-y: auto;
  height: 120px;
  background: rgba(255, 255, 255, 0.7);
}
.chat-form {
  position: absolute;
  bottom: 5px;
}
.chat-input {
  margin-right: 5px;
}
